<%- include("partials/header"); -%>
<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">
    <label for="title">title</label>
    <input class="form-control" type="text" name="postTitle" />
  </div>

  <div class="form-group">
    <label for="post">post</label>
    <textarea class="form-control" id="" name="postContent" rows="5"></textarea>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">Publish</button>
  </div>
</form>

<%- include("partials/footer"); -%>
